<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>HTML Preview(markdown to html) - Editor.md examples</title>
    <link rel="stylesheet" th:href="@{/style/css/style.css}" />
    <link rel="stylesheet" th:href="@{/mk/css/editormd.preview.css}" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <style>
        .editormd-html-preview {
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="layout">
    <header>
        <h1 th:text="${usertext.title}"></h1>
        <p th:text="${usertext.id}"></p>
        <p th:text="${usertext.time}"></p>
    </header>
    <div class="btns">
        <button onclick="location.href='/#';" th:text="${usertext.username}"></button>
    </div>
    <div id="test-editormd-view2">
        <textarea id="append-test" style="display:none;">