<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>simple博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
    <meta name="author" content="simple博客">
    <meta name="keywords" content="技术分享">
    <meta name="description" content="技术分享">

    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/build.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/activity.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/login.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/zzsc.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/dlzc.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/boke/css/nanoscroller.css}">

    <script language="javascript" type="text/javascript" th:src="@{/boke/js/jquery-1.11.1.min.js}"></script>
	<script language="javascript" type="text/javascript" th:src="@{/boke/s/main.js}"></script>
    <script language="javascript" type="text/javascript" th:src="@{/boke/js/popwin.js}"></script>
       
</head>

<body style="overflow-x:hidden">

<header id="top" role="banner" class="transition">
    <div class="container">
        <div class="navbar-header transition">
            <a href="index.html" title="首页"><img th:src="@{/boke/images/logo.jpg}" alt="simple博客" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <a href="/release" class="toggle-tougao  hidden-xs">投稿</a>

            <li class="nav-news"> <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="toggle-login hidden-xs">登录</a></li>
            <li class="nav-news"> <a sec:authorize="!isAuthenticated()" href="/registered" class="toggle-login hidden-xs">注册</a></li>
            <li class="nav-news"> <span sec:authorize="isAuthenticated()" style="color: blue" sec:authentication="name"></span></li>
            <li class="nav-news"> <span sec:authorize="isAuthenticated()"><a href="/logout">注销</a></span></li>
        </ul>
        <div class="input-group souIn"> 
            <input type="text" class="form-control input-group" >
            <span class="input-group-addon btn btn-default">搜索</span> 
        </div>
    </div>
</header>

<div class="placeholder-height"></div>
<div class="container" id="index">
	<div class="wrap-left pull-left col-md-6">
        <div class="big-pic-box">
             <div class="big-pic">
                  <a href="article.html" target="_blank" class="transition" title="醒醒吧，腾讯、网易称霸的游戏行业，谁都没机会成为第三">
                     <div class="back-img"><img th:src="@{/boke/sy-img/061708387437.jpg}"  alt="醒醒吧，腾讯、网易称霸的游戏行业，谁都没机会成为第三"></div>
                     <div class="big-pic-content">
                          <h1 class="t-h1">BAT，百度、阿里巴巴、腾讯</h1>
                      </div>
                  </a>
             </div>
             <div class="big2-pic big2-pic-index big2-pic-index-top">
                  <a href="article.html" class="back-img transition" target="_blank" title="嘘！Facebook 正在上海悄悄寻找办公室">
                     <img class="lazy" th:src="@{/boke/sy-img/142618969973.jpg}" alt="嘘！Facebook ">
                  </a>
                  <a href="article.html" target="_blank" title="嘘！Facebook 真的来了！ ">
                     <div class="big2-pic-content">
                          <h2 class="t-h1">嘘！Facebook 真的来了，你知道吗</h2>
                     </div>
                  </a>
             </div>
             <div class="big2-pic big2-pic-index big2-pic-index-bottom">
                  <a href="article.html" class="back-img transition" target="_blank" title="马云决定建立淘宝">
                     <img class="lazy" th:src="@{/boke/sy-img/093433055013.jpg}" alt="马云决定建立淘宝">
                  </a>
                  <a href="article.html" target="_blank" 马云决定建立淘宝>
                     <div class="big2-pic-content">
                          <h2 class="t-h1">马云决定建立淘宝，这是最艰难的决定</h2>
                     </div>
                  </a>
             </div>
       </div>
       <div class="mod-info-flow">
            <div th:each="text:${alltext}" class="mod-b mod-art" data-aid="213665">
            	 <div class="mod-angle">热</div>
                 <div class="mod-thumb ">
                       <a  class="transition" th:title="${text.title}" th:href="@{/aishow(id=${text.id})}" target="_blank">
						  <img class="lazy" th:src="@{/boke/sy-img/111527830443.jpg}" alt="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低">
                       </a>
                 </div>
                 <div class="column-link-box">
                 	
                 </div>
                 <div class="mob-ctt">
                    <h2><a th:href="@{/aishow(id=${text.id})}" class="transition msubstr-row2" target="_blank" th:text="${text.title}"></a></h2>
					<div class="mob-author">
                         <div class="author-face">
                              <a href="article.html" target="_blank"><img th:src="@{/boke/sy-img/59_1502432173.jpg}"></a>
                         </div>
                         <a th:href="@{/aishow(id=${text.id})}" target="_blank">
                            <span class="author-name " th:text="${text.time}"></span>
                         </a>
                         <a th:href="@{/aishow(id=${text.id})}" target="_blank" title="购买VIP会员"></a>
                         <i class="icon icon-cmt"></i><em>0</em>
                         <i class="icon icon-fvr"></i><em>0</em>
                    </div>
                    <div class="mob-sub">公司纷纷看好人工智能技术潜力的同时，真正应用在自己业务中的并不算多</div>
                 </div>
            </div>

    </div>
    <nav class="page-nav" style="height: 90px;">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="icon icon-lt"></i></span></a></li>
            <li class="active"><a>1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="icon icon-gt"></i></a></li>
        </ul>
    </nav>

</div>
<div class="wrap-right pull-right">
        <div class="right-ad-box"></div>


		
	
<!--24小时部分结束1-->
	
<!--传言-->
<!--传言部分开始-->
    <div id="rumor_center"></div>
    <div class="box-moder moder-rumors-list ">
        <h3>小站站长</h3>
        <span class="span-mark"></span>
        <div class="big2-pic pull-right">
            <a href="#" class="back-img" target="_blank">
                <img class="lazy" th:src="@{/boke/sy-img/105108838520.jpg}" alt="">
            </a>
        </div>
        <div class="clear"></div>
        <ul class="rumorlist">
            <li>    
                <p>籍贯：山西 晋城</p>
                <p>爱好：喜欢编程，就是技术太菜。</p>
                <p>爱分享 音乐、视频和软件。</p>
            </li>
        </ul>
            
        </div>
    <div class="placeholder"></div>
    <!--传言部分结束-->
	
    <div class="placeholder"></div>
</div>
</div>

<footer class="footer">
    <div class="container copy-right" style="text-align: center;">
            <span> Copyright 2018 <a href="#"> 哥哥博客 </a> 邮箱:17737157627@163.com <img th:src="@{/boke/images/pic.gif}" style="width: 45px;"></span>
    </div>
</footer>
<script type="text/javascript" th:src="@{/boke/js/mouse.js}"></script>
<script>


</script>

</body>

</html>
