<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>哥哥博客列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
    <meta name="author" content="哥哥博客">
    <meta name="keywords" content="技术分享">
    <meta name="description" content="技术分享">

    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/build.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/activity.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/login.css}" >
    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/zzsc.css}" >
    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/dlzc.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/boke/css/nanoscroller.css}">

    <script language="javascript" type="text/javascript" th:src="@{boke/js/jquery-1.11.1.min.js}"></script>
	<script language="javascript" type="text/javascript" th:src="@{boke/js/main.js}"></script>
    <script language="javascript" type="text/javascript" th:src="@{boke/js/popwin.js}"></script>

</head>

<body style="overflow-x:hidden">

<header id="top" role="banner" class="transition">
    <div class="container">
        <div class="navbar-header transition">
            <a href="index.html" title="首页"><img src="images/logo.jpg" alt="哥哥博客" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu"><a href="list.html" target="_blank">心情随笔</a></li>
            <li class="nav-news"><a href="list.html" target="_blank">技术文章分享<span class="nums-prompt nums-prompt-topic"></span></a></li>
            <li class="nav-news"><a href="list.html" target="_blank">视频教程</a></li>
            <li class="nav-news"><a href="list.html" target="_blank">网页博客模版下载<span class="nums-prompt"></span></a></li>
        </ul>
        <div class="input-group souIn">
            <input type="text" class="form-control input-group" >
            <span class="input-group-addon btn btn-default">搜索</span>
        </div>
    </div>
</header>

<div class="placeholder-height"></div>
<div class="container" id="index">
	<div class="wrap-left pull-left col-md-6">
       <div class="mod-info-flow">

			<nav class="page-nav" style="height: 50px;">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="icon icon-lt"></i></span></a></li>
                    <li class="active"><a>1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="icon icon-gt"></i></a></li>
                </ul>
            </nav>

       		<div class="mod-b mod-art" data-aid="213665">
            	 <div class="mod-angle">热</div>
                 <div class="mod-thumb ">
                       <a class="transition" title="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低" href="article.html" target="_blank">
						  <img class="lazy" src="sy-img/111527830443.jpg" alt="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低">
                       </a>
                 </div>
                 <div class="column-link-box">

                 </div>
                 <div class="mob-ctt">
                    <h2><a href="article.html" class="transition msubstr-row2" target="_blank">你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低</a></h2>
					<div class="mob-author">
                         <div class="author-face">
                              <a href="article.html" target="_blank"><img src="sy-img/59_1502432173.jpg"></a>
                         </div>
                         <a href="article.html" target="_blank">
                            <span class="author-name ">1小时前</span>
                         </a>
                         <a href="article.html" target="_blank" title="购买VIP会员"></a>
                         <i class="icon icon-cmt"></i><em>0</em>
                         <i class="icon icon-fvr"></i><em>0</em>
                    </div>
                    <div class="mob-sub">公司纷纷看好人工智能技术潜力的同时，真正应用在自己业务中的并不算多</div>
                 </div>
            </div>
            <div class="mod-b mod-art" data-aid="213665">
            	 <div class="mod-angle">热</div>
                 <div class="mod-thumb ">
                       <a class="transition" title="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低" href="article.html" target="_blank">
						  <img class="lazy" src="sy-img/111527830443.jpg" alt="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低">
                       </a>
                 </div>
                 <div class="column-link-box">

                 </div>
                 <div class="mob-ctt">
                    <h2><a href="article.html" class="transition msubstr-row2" target="_blank">你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低</a></h2>
					<div class="mob-author">
                         <div class="author-face">
                              <a href="article.html" target="_blank"><img src="sy-img/59_1502432173.jpg"></a>
                         </div>
                         <a href="article.html" target="_blank">
                            <span class="author-name ">2小时前</span>
                         </a>
                         <a href="article.html" target="_blank" title="购买VIP会员"></a>
                         <i class="icon icon-cmt"></i><em>0</em>
                         <i class="icon icon-fvr"></i><em>0</em>
                    </div>
                    <div class="mob-sub">公司纷纷看好人工智能技术潜力的同时，真正应用在自己业务中的并不算多</div>
                 </div>
            </div>
            <div class="mod-b mod-art" data-aid="213665">
                 <div class="mod-thumb ">
                       <a class="transition" title="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低" href="article.html" target="_blank">
						  <img class="lazy" src="sy-img/111527830443.jpg" alt="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低">
                       </a>
                 </div>
                 <div class="column-link-box">

                 </div>
                 <div class="mob-ctt">
                    <h2><a href="article.html" class="transition msubstr-row2" target="_blank">你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低</a></h2>
					<div class="mob-author">
                         <div class="author-face">
                              <a href="article.html" target="_blank"><img src="sy-img/59_1502432173.jpg"></a>
                         </div>
                         <a href="article.html" target="_blank">
                            <span class="author-name ">3小时前</span>
                         </a>
                         <a href="article.html" target="_blank" title="购买VIP会员"></a>
                         <i class="icon icon-cmt"></i><em>0</em>
                         <i class="icon icon-fvr"></i><em>0</em>
                    </div>
                    <div class="mob-sub">公司纷纷看好人工智能技术潜力的同时，真正应用在自己业务中的并不算多</div>
                 </div>
            </div>
            <div class="mod-b mod-art" data-aid="213665">
            	 <div class="mod-angle">热</div>
                 <div class="mod-thumb ">
                       <a class="transition" title="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低" href="article.html" target="_blank">
						  <img class="lazy" src="sy-img/111527830443.jpg" alt="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低">
                       </a>
                 </div>
                 <div class="column-link-box">

                 </div>
                 <div class="mob-ctt">
                    <h2><a href="article.html" class="transition msubstr-row2" target="_blank">你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低</a></h2>
					<div class="mob-author">
                         <div class="author-face">
                              <a href="article.html" target="_blank"><img src="sy-img/59_1502432173.jpg"></a>
                         </div>
                         <a href="article.html" target="_blank">
                            <span class="author-name ">2小时前</span>
                         </a>
                         <a href="article.html" target="_blank" title="购买VIP会员"></a>
                         <i class="icon icon-cmt"></i><em>0</em>
                         <i class="icon icon-fvr"></i><em>0</em>
                    </div>
                    <div class="mob-sub">公司纷纷看好人工智能技术潜力的同时，真正应用在自己业务中的并不算多</div>
                 </div>
            </div>

            <div class="mod-b mod-art" data-aid="213665">
                 <div class="mod-thumb ">
                       <a class="transition" title="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低" href="article.html" target="_blank">
						  <img class="lazy" src="sy-img/111527830443.jpg" alt="你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低">
                       </a>
                 </div>
                 <div class="column-link-box">

                 </div>
                 <div class="mob-ctt">
                    <h2><a href="article.html" class="transition msubstr-row2" target="_blank">你的公司够前沿吗？至少在AI这件事上，多数企业都眼高手低</a></h2>
					<div class="mob-author">
                         <div class="author-face">
                              <a href="article.html" target="_blank"><img src="sy-img/59_1502432173.jpg"></a>
                         </div>
                         <a href="article.html" target="_blank">
                            <span class="author-name ">1小时前</span>
                         </a>
                         <a href="article.html" target="_blank" title="购买VIP会员"></a>
                         <i class="icon icon-cmt"></i><em>0</em>
                         <i class="icon icon-fvr"></i><em>0</em>
                    </div>
                    <div class="mob-sub">公司纷纷看好人工智能技术潜力的同时，真正应用在自己业务中的并不算多</div>
                 </div>
            </div>

		</div>
            <nav class="page-nav" style="height: 90px;">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="icon icon-lt"></i></span></a></li>
                    <li class="active"><a>1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="icon icon-gt"></i></a></li>
                </ul>
            </nav>

	</div>
    <div class="wrap-right pull-right">
        <div class="right-ad-box"></div>




<!--24小时部分结束1-->

<!--传言-->
<!--传言部分开始-->
    <div id="rumor_center"></div>
    <div class="box-moder moder-rumors-list ">
        <h3>小站站长</h3>
        <span class="span-mark"></span>
        <div class="big2-pic pull-right">
            <a href="#" class="back-img" target="_blank">
                <img class="lazy" src="sy-img/105108838520.jpg" alt="">
            </a>
        </div>
        <div class="clear"></div>
        <ul class="rumorlist">
            <li>
                <p>籍贯：山西 晋城</p>
                <p>爱好：喜欢编程，就是技术太菜。</p>
                <p>爱分享 音乐、视频和软件。</p>
            </li>
        </ul>

        </div>
    <div class="placeholder"></div>
    <!--传言部分结束-->

    <div class="placeholder"></div>
</div>
</div>

<footer class="footer">
    <div class="container copy-right" style="text-align: center;">
            <span> Copyright 2018 <a href="#"> 哥哥博客 </a> 邮箱:17737157627@163.com <img src="images/pic.gif" style="width: 45px;"></span>
    </div>
</footer>
<script type="text/javascript" src="js/mouse.js"></script>

</body>

</html>
